<div>
  <h1>
    {{title}}
  </h1>
</div>

<div>
  <button type="button" class="btn btn-default" (click)="getNextGeneration()" style="margin-bottom:5px">Next
    Generation
  </button>

</div>


<div>
  <button type="button" class="btn btn-default" style="margin-bottom:20px">Play/Pause</button>
</div>

<div>
  <div><label>Rows: </label>{{generation.row}}</div>
  <button type="button" class="btn btn-default" (click)="addRow()" style="margin-bottom:20px">Add row</button>
  <button type="button" class="btn btn-default" (click)="removeRow()" style="margin-bottom:20px">Remove row</button>
</div>

<div>
  <div><label>Columns: </label>{{generation.col}}</div>
  <button type="button" class="btn btn-default" (click)="addColumn()" style="margin-bottom:20px">Add column</button>
  <button type="button" class="btn btn-default" (click)="removeColumn()" style="margin-bottom:20px">Remove column
  </button>
</div>

<div>
  <table class="content" *ngIf="generation" style="border: 0px solid black; border-spacing:1px" border="1">
    <tr *ngFor="let row of generation.cells; let i = index;">

      <td *ngFor="let col of row; let j = index;" style="width:15px; height:15px"
          [ngClass]="{'my-black-background': col }" (click)="toggleCell(i,j)">
      </td>
    </tr>
  </table>
</div>
